<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Редактирование: ${user.firstName}</title>
</head>
<body>
<h1>Редактирование данных пользователя</h1>

<form method="post" action="/users/${user.id}/update">
    <input type="hidden" name="id" value="${user.id}">
    <label>Имя:
        <input type="text" name="firstName" value="${user.firstName}">
    </label>
    <label>Фамилия:
        <input type="text" name="lastName" value="${user.lastName}">
    </label>
    <label>Возраст:
        <input type="number" name="age" value="${user.age}">
    </label>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>